<h2>{{ _('Welcome, %(name)s, to your Lokole account!', name=name) }}</h2>

{{ _(
'With your account you can send and receive emails with unlimited attachments.'
) }} {{ _('You can learn more about how Lokole works') }} <a href="{{ url_for('about') }}">{{ _('here') }}</a>.

{{ _(
'We still have to do a bit of work to finalize your account... as soon as '
'everything is ready, we will send you another message to confirm your very '
'own Lokole email address. Using this email address, you will be able to talk '
'to people from all over the world!'
) }}

{{ _(
'If you have any questions about your Lokole account, please get in touch by '
'sending us a' ) }} <a href="{{ url_for('email_new', to='info@ascoderu.ca', subject=_('I have a question about Lokole')) }}">{{ ('message') }}</a>.

{{ _('All the best.') }}
{{ _('Lokole Team') }}
