*
!.env
!.yamllint
!*.yml
!.prettierignore
!docker/
!helm/
!opwen_email_client/
opwen_email_client/webapp/static/css/*.min.css
opwen_email_client/webapp/static/flags/
opwen_email_client/webapp/static/fonts/
opwen_email_client/webapp/static/js/*.min.js
!opwen_email_server/
!opwen_statuspage/
opwen_statuspage/build/
opwen_statuspage/node_modules/
!tests/
!requirements*.txt
!setup.cfg
!install.py
!manage.py
!MANIFEST.in
!setup.py
!README.rst
!package.json
!yarn.lock
!Gruntfile.js
!babel.cfg
