.idea/

node_modules/
opwen_email_client/webapp/static/css/*.min.css
opwen_email_client/webapp/static/js/*.min.js
opwen_email_client/webapp/static/fonts
opwen_email_client/webapp/static/flags

.coverage
.mypy_cache/
venv/
*.pyc
__pycache__/
/build/
/dist/
/*.egg-info/
requirements.txt.out

.coverage
*.mo
*.pot
/state/
