.idea/
.vscode/

*.pyc
__pycache__/
/build/
/dist/
/*.egg-info/
venv*/
.coverage
coverage.xml
cover/
htmlcov/
.mypy_cache/
dive.log

serviceprincipal.json
.github.env

node_modules/
opwen_email_client/webapp/static/css/*.min.css
opwen_email_client/webapp/static/js/*.min.js
opwen_email_client/webapp/static/fonts
opwen_email_client/webapp/static/flags

venv/
requirements.txt.out
*.mo
*.pot
/state/
