include requirements.txt
include README.rst
include version.txt
recursive-include opwen_email_client/webapp/static *
recursive-include opwen_email_client/webapp/templates *.html
recursive-include opwen_email_client/webapp/translations *.po
