Pillow==6.0.0
https://github.com/CatalystCode/libcloud/archive/1037_fix-azurite.zip
applicationinsights==0.11.9
beautifulsoup4==4.7.1
cached-property==1.5.1
connexion[flask,swagger-ui]==2.3.0
environs==4.2.0
flower==0.9.3
msgpack==0.6.1
pyzmail36==1.0.4
requests==2.22.0
sendgrid==6.0.5
typing-extensions==3.7.2
typing==3.6.6
kombu==4.6.3
celery==4.3.0
xtarfile[zstd]==0.0.2
azure-servicebus==0.50.0
gunicorn==19.9.0
