Pillow==5.3.0
apache-libcloud==2.4.0
applicationinsights==0.11.7
beautifulsoup4==4.6.3
cached-property==1.5.1
connexion[swagger-ui]==2.2.0
msgpack==0.6.0
pyzmail36==1.0.4
requests==2.21.0
sendgrid==5.6.0
typing-extensions==3.6.6
typing==3.6.6
https://github.com/celery/kombu/archive/b3dc9208837566193deda824bc67dc900c7ed9a6.zip
celery==4.2.1
xtarfile[zstd]==0.0.2
