Pillow==6.2.0
apache-libcloud==2.6.0
applicationinsights==0.11.9
beautifulsoup4==4.8.0
cached-property==1.5.1
connexion[flask,swagger-ui]==2.3.0
environs==6.0.0
flower==0.9.3
msgpack==0.6.2
python-http-client==3.2.1
pyzmail36==1.0.4
requests==2.22.0
sendgrid==6.1.0
typing-extensions==3.7.4
typing==3.7.4.1
kombu==4.6.5
celery==4.3.0
xtarfile[zstd]==0.0.2
azure-servicebus==0.50.1
gunicorn==19.9.0
