Babel==2.9.1
Flask-BabelEx==0.9.4
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-Testing==0.8.1
Flask-WTF==0.15.1
Flask==2.0.1
SQLAlchemy==1.4.20
WTForms==2.3.3
email-validator==1.1.3
Werkzeug==0.16.1  # pyup: ignore
apache-libcloud==3.3.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
cached-property==1.5.2
celery[sqlalchemy]==4.4.7  # pyup: ignore
environs==8.0.0  # pyup: ignore
gunicorn==20.1.0
mkwvconf==0.1.1
passlib==1.7.4
python-crontab==2.5.1
requests==2.25.1
typing==3.10.0.0
tzlocal==2.1
watchdog==2.1.3
xtarfile[zstd]==0.1.0
Pillow==8.3.0
