flake8==3.7.9
flex==6.14.1
isort==4.3.21
PyAMQP==0.0.8.11
lockfile==0.12.2
mypy==0.740
nose2[coverage_plugin]==0.9.1
python-dotenv==0.10.3
responses==0.10.6
bandit==1.6.2
yamllint==1.18.0
yapf==0.28.0
