<!DOCTYPE html>
{% from '_nav.html' import main_nav with context %}

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
      {% if request.endpoint | ui %}
        {{ request.endpoint | ui }}
      {% else %}
        {{ 'opwen' | ui }}
      {% endif %}
    {% endblock %}
  </title>

  {# bootstrap #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
  <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='libs/html5shiv/js/html5shiv.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/respond/js/respond.js') }}"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery/js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.js') }}"></script>


  {# opwen_webapp #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
  <div class="container">
    {{ main_nav() }}

    {% include '_messages.html' %}

    {% block content %}{% endblock %}
  </div>

</body>
</html>