{% macro render_field_with_label_and_errors(field) %}
  <div class="form-group {{ 'has-error' if field.errors else ''}}">
    {{ field.label(class_='control-label') }}
    {{ field(class_='form-control') }}

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_button(field) %}
<div class="form-group">
  {{ field(class_='btn btn-default') }}
</div>
{% endmacro %}
