{% macro nav_link_security(endpoint) %}
  <li class="{{ 'active' if request.url_rule.endpoint == 'security.%s' % endpoint else ''}}">
    <a href="{{ url_for_security(endpoint) }}">{{ endpoint | ui }}</a>
  </li>
{% endmacro %}

{% macro nav_link(endpoint, level) %}
  <li class="{{ 'active' if request.url_rule.endpoint.split('_')[level] == endpoint.split('_')[level] else ''}}">
    <a href="{{ url_for(endpoint) }}">{{ endpoint | ui }}</a>
  </li>
{% endmacro %}

{% macro flag_for(lang_code) %}
  <span class="flag-icon flag-icon-{{ lang_code | lang2flag }}"></span>
{% endmacro %}

{% macro nav_language_switcher() %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ flag_for(session['lang_code']) }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for lang_code in lang_codes | sort %}
        <li class="{{ 'active' if lang_code == session['lang_code'] else '' }}">
          <a href="{{ url_for(request.endpoint, lang_code=lang_code) }}">
            {{ flag_for(lang_code) }} {{ lang_code | lang2name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}

{% macro main_nav() %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand" href="#">{{ _('Opwen') }}</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          {{ nav_link('home', level=0) }}
          {{ nav_link('about', level=0) }}
          {{ nav_link('email', level=0) }}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            {{ nav_link_security('logout') }}
          {% else %}
            {{ nav_link_security('login') }}
            {{ nav_link_security('register') }}
          {% endif %}
          {% if current_user | is_admin %}
            {{ nav_link('sync', level=0) }}
          {% endif %}
          {{ nav_language_switcher() }}
        </ul>
      </div>
    </div>
  </nav>
{% endmacro %}

{% macro email_subnav() %}
  <ul class="nav nav-pills">
    {{ nav_link('email_inbox', level=1) }}
    {{ nav_link('email_sent', level=1) }}
    {{ nav_link('email_outbox', level=1) }}
    {{ nav_link('email_new', level=1) }}
  </ul>
{% endmacro %}
