{% extends "_base.html" %}

{% from '_form.html' import render_field_with_label_and_errors %}
{% from '_form.html' import render_button %}
{% from '_nav.html' import email_subnav with context %}

{% block content %}
  {{ email_subnav() }}

  <form action="{{ url_for('email_new') }}" method="post" name="{{ form.name }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ render_field_with_label_and_errors(form.to) }}
    {{ render_field_with_label_and_errors(form.subject) }}
    {{ render_field_with_label_and_errors(form.body) }}
    {{ render_field_with_label_and_errors(form.attachments) }}
    {{ render_button(form.submit) }}
  </form>
{% endblock %}

{% block scripts %}
<script>
  (function() {
    $(document).ready(function() {

      (function styleEmailAttachmentsField() {
        $("#{{ form.attachments.id }}").fileinput({
          showPreview: false,
          showUpload: false,
          msgSelected: "{n} {{ _('files selected') }}",
          removeTitle: "",
          removeLabel: "{{ _('Remove') }}",
          browseLabel: "{{ _('Choose files') }}",
          browseIcon: '<span class="glyphicon glyphicon-paperclip"></span>',
          browseClass: 'btn btn-default'
        });
      }());

      (function turnEmailBodyFieldIntoRichEditor() {
        $("#{{ form.body.id }}").wysihtml5({
          toolbar: {
            "font-styles": false,
            "link": false,
            "image": false,
            "outdent": false,
            "indent": false,
            "blockquote": false,
            "fa": true,
          },
          customTemplates: {
            emphasis: function(context) {
              return '<li><div class="btn-group">'
                      + '<a title="{{ _('Bold') }}" class="btn btn-default" data-wysihtml5-command="bold" tabindex="-1" href="javascript:;" unselectable="on">'
                      + '  <span class="fa fa-bold"></span></a>'
                      + '<a title="{{ _('Italic') }}"class="btn btn-default" data-wysihtml5-command="italic" tabindex="-1" href="javascript:;" unselectable="on">'
                      + '  <span class="fa fa-italic"></span></a>'
                      + '<a title="{{ _('Underline') }}"class="btn btn-default" data-wysihtml5-command="underline" tabindex="-1" href="javascript:;" unselectable="on">'
                      + '  <span class="fa fa-underline"></span></a>'
                      + '</div></li>';
            },
            lists: function(context) {
              return '<li><div class="btn-group">'
                      + '<a title="{{ _('Un-ordered list') }}"class="btn btn-default" data-wysihtml5-command="insertUnorderedList" tabindex="-1" href="javascript:;" unselectable="on">'
                      + '  <span class="fa fa-list-ul" aria-hidden="true"></span></a>'
                      + '<a title="{{ _('Ordered list') }}"class="btn btn-default" data-wysihtml5-command="insertOrderedList" tabindex="-1" href="javascript:;" unselectable="on">'
                      + '  <span class="fa fa-list-ol" aria-hidden="true"></span></a>'
                      + '</div></li>';
            }
          }
         });
       }());

    });
   }());
</script>
{% endblock %}
