{% extends "_base.html" %}

{% from '_form.html' import render_field_with_label_and_errors %}
{% from '_form.html' import render_button %}
{% from '_nav.html' import email_subnav with context %}

{% block content %}
  {{ email_subnav() }}

  <form action="{{ url_for('email_new') }}" method="post" name="{{ form.name }}">
    {{ form.hidden_tag() }}

    {{ render_field_with_label_and_errors(form.to) }}
    {{ render_field_with_label_and_errors(form.subject) }}
    {{ render_field_with_label_and_errors(form.body) }}
    {{ render_button(form.submit) }}
  </form>
{% endblock %}
