{% extends "_base.html" %}

{% from '_form.html' import render_field_with_label_and_errors %}
{% from '_form.html' import render_button %}
{% from '_nav.html' import email_subnav with context %}

{% block content %}
  {{ email_subnav() }}

  <form action="{{ url_for('email_new') }}" method="post" name="{{ form.name }}">
    {{ form.hidden_tag() }}

    {{ render_field_with_label_and_errors(form.to) }}
    {{ render_field_with_label_and_errors(form.subject) }}
    {{ render_field_with_label_and_errors(form.body) }}
    {{ render_button(form.submit) }}
  </form>
{% endblock %}

{% block scripts %}
<script>
  (function() {
    $(document).ready(function() {
      $("#{{ form.body.id }}").wysihtml5({
        toolbar: {
          "font-styles": false,
          "link": false,
          "image": false,
          "outdent": false,
          "indent": false,
          "blockquote": false,
          "fa": true,
        },
        customTemplates: {
          emphasis: function(context) {
            return '<li><div class="btn-group">'
                    + '<a title="{{ 'bold' | ui }}" class="btn btn-default" data-wysihtml5-command="bold" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-bold" aria-hidden="true"></span></a>'
                    + '<a title="{{ 'italic' | ui }}"class="btn btn-default" data-wysihtml5-command="italic" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-italic" aria-hidden="true"></span></a>'
                    + '<a title="{{ 'underline' | ui }}"class="btn btn-default" data-wysihtml5-command="underline" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-underline" aria-hidden="true"></span></a>'
                    + '</div></li>';
          },
          lists: function(context) {
            return '<li><div class="btn-group">'
                    + '<a title="{{ 'unordered_list' | ui }}"class="btn btn-default" data-wysihtml5-command="insertUnorderedList" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-list-ul" aria-hidden="true"></span></a>'
                    + '<a title="{{ 'ordered_list' | ui }}"class="btn btn-default" data-wysihtml5-command="insertOrderedList" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-list-ol" aria-hidden="true"></span></a>'
                    + '</div></li>';
          }
        }
       });
    });
   }());
</script>
{% endblock %}
