apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: {{.Values.domain}}
    http:
      paths:
      - path: /
        backend:
          serviceName: nginx
          servicePort: 80
