.nav-pills {
  padding-bottom: 1em;
}

.hero-image {
  padding-top: 1em;
  padding-bottom: 1em;
}

.text-center .row > div {
  display: inline-block;
  float: none;
}

.email-search-form {
  padding-bottom: 1em;
}
