<!DOCTYPE html>
{% from '_messages.html' import render_flashed_messages with context %}
{% from '_nav.html' import main_nav with context %}

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <title>
    {% block title %}
    {% endblock %}
  </title>

  <script type="text/javascript" src="{{ url_for('static', filename='app.min.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/components-font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap-fileinput/css/fileinput.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/flag-icon-css/css/flag-icon.min.css') }}">
</head>
<body>
  <div class="container">
    {{ main_nav() }}

    {{ render_flashed_messages() }}

    {% block content %}{% endblock %}
  </div>

  {% block scripts %}{% endblock %}
</body>
</html>