{% macro nav_link_security(endpoint, text) %}
<li class="{{ 'active' if request.url_rule.endpoint == 'security.%s' % endpoint else ''}}">
  <a href="{{ url_for_security(endpoint) }}">{{ text }}</a>
</li>
{% endmacro %}

{% macro nav_link(endpoint, text, level) %}
<li class="{{ 'active' if request.url_rule.endpoint.split('_')[level] == endpoint.split('_')[level] else ''}}">
  <a href="{{ url_for(endpoint) }}">{{ text }}</a>
</li>
{% endmacro %}

{% macro main_nav() %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="#">{{ _('Ascoderu') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        {{ nav_link('home', _('Home'), level=0) }}
        {{ nav_link('about', _('About'), level=0) }}
        {{ nav_link('email_inbox', _('Email'), level=0) }}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        {{ nav_link_security('logout', _('Logout')) }}
        {% else %}
        {{ nav_link_security('login', _('Login')) }}
        {{ nav_link_security('register', _('Register')) }}
        {% endif %}
        {% if current_user.is_admin %}
        {{ nav_link('admin', _('Admin panel'), level=0) }}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}

{% macro email_subnav() %}
<ul class="nav nav-pills">
  {{ nav_link('email_inbox', _('Inbox'), level=1) }}
  {{ nav_link('email_sent', _('Sent'), level=1) }}
  {{ nav_link('email_outbox', _('Outbox'), level=1) }}
  {{ nav_link('email_new', _('Write email'), level=1) }}
  {{ nav_link('email_search', _('Search'), level=1) }}
</ul>
{% endmacro %}
