<!DOCTYPE html>
<html>
<head>
  {# jquery #}
  <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery/js/jquery.js') }}"></script>

  {# bootstrap #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.js') }}"></script>

  {# ascoderu_webapp #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/document_ready.js') }}"></script>
</head>
<body>
  <div class="container">
    {% include '_nav.html' ignore missing with context %}

    {% block content %}{% endblock %}
  </div>
</body>
</html>