{% macro nav_link_security(endpoint, name) %}
  <li class="{{ 'active' if request.url_rule.endpoint == 'security.%s' % endpoint else ''}}">
    <a href="{{ url_for_security(endpoint) }}">{{ _(name) }}</a>
  </li>
{% endmacro %}

{% macro nav_link(endpoint, name, level) %}
  <li class="{{ 'active' if request.url_rule.endpoint.split('_')[level] == endpoint.split('_')[level] else ''}}">
    <a href="{{ url_for(endpoint) }}">{{ _(name) }}</a>
  </li>
{% endmacro %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="#">{{ _('Ascoderu') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        {{ nav_link('home', 'Home', level=0) }}
        {{ nav_link('about', 'About', level=0) }}
        {{ nav_link('email', 'Email', level=0) }}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          {{ nav_link_security('logout', 'Logout') }}
        {% else %}
          {{ nav_link_security('login', 'Login') }}
          {{ nav_link_security('register', 'Register') }}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
