{% extends "_base_email.html" %}

{% from 'macros/form.html' import render_field %}
{% from 'macros/form.html' import render_button %}
{% from 'macros/nav.html' import email_subnav with context %}

{% block libs %}
<script type="text/javascript" src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-wysihtml5.all.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fileinput.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}

{% block email_content %}
{{ email_subnav() }}

<form action="{{ url_for('email_new') }}" method="post" name="{{ form.name }}" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-sm-12 col-md-4">{{ render_field(form.to, _('To')) }}</div>
    <div class="col-sm-12 col-md-4">{{ render_field(form.cc, _('Cc')) }}</div>
    <div class="col-sm-12 col-md-4">{{ render_field(form.bcc, _('Bcc')) }}</div>
  </div>
  {{ render_field(form.subject, _('Subject')) }}
  {{ render_field(form.body, _('Message')) }}
  {{ render_field(form.attachments, _('Attachments')) }}
  {{ render_button(form.submit, _('Send')) }}
</form>
{% endblock %}

{% block email_scripts %}
<script>
(function($) {
  $(document).ready(function() {

    (function styleEmailAttachmentsField() {
      $("#{{ form.attachments.id }}").fileinput({
        showPreview: false,
        showUpload: false,
        msgSelected: "{n} {{ _('files selected') }}",
        layoutTemplates: {
          fileIcon: '<span class="fa fa-file-o"></span>&nbsp;',
        },
        removeTitle: "",
        removeIcon: '<span class="fa fa-trash-o"></span>',
        removeLabel: "{{ _('Remove') }}",
        browseLabel: "{{ _('Choose files') }}",
        browseIcon: '<span class="fa fa-paperclip"></span>',
        browseClass: 'btn btn-default'
      });
    }());

    (function turnEmailBodyFieldIntoRichEditor() {
      $("#{{ form.body.id }}").wysihtml5({
        toolbar: {
          "font-styles": false,
          "link": false,
          "image": false,
          "outdent": false,
          "indent": false,
          "blockquote": false,
          "fa": true,
        },
        customTemplates: {
          emphasis: function(context) {
            return '<li><div class="btn-group">'
                    + '<a title="{{ _('Bold') }}" class="btn btn-default" data-wysihtml5-command="bold" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-bold"></span></a>'
                    + '<a title="{{ _('Italic') }}"class="btn btn-default" data-wysihtml5-command="italic" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-italic"></span></a>'
                    + '<a title="{{ _('Underline') }}"class="btn btn-default" data-wysihtml5-command="underline" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-underline"></span></a>'
                    + '</div></li>';
          },
          lists: function(context) {
            return '<li><div class="btn-group">'
                    + '<a title="{{ _('Un-ordered list') }}"class="btn btn-default" data-wysihtml5-command="insertUnorderedList" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-list-ul" aria-hidden="true"></span></a>'
                    + '<a title="{{ _('Ordered list') }}"class="btn btn-default" data-wysihtml5-command="insertOrderedList" tabindex="-1" href="javascript:;" unselectable="on">'
                    + '  <span class="fa fa-list-ol" aria-hidden="true"></span></a>'
                    + '</div></li>';
          }
        }
       });
     }());

  });
 })(window.jQuery);
</script>
{% endblock %}
