name: CD

on:
  release:
    types:
      - created

jobs:
  terraform:
    runs-on: ubuntu-18.04

    env:
      ARM_CLIENT_ID: ${{secrets.SP_CLIENT}}
      ARM_CLIENT_SECRET: ${{secrets.SP_PASSWORD}}
      ARM_SUBSCRIPTION_ID: ${{secrets.SUBSCRIPTION_ID}}
      ARM_TENANT_ID: ${{secrets.SP_TENANT}}
      AZURE_STORAGE_ACCOUNT: "tstate31414"
      TF_ACTION_WORKING_DIR: "./docker/setup/terraform"

    steps:
      - uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve


  release:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - run: make github-env
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - run: |
          make \
            -e BUILD_TARGET=runtime \
            -e DOCKER_TAG="${GITHUB_REF##*/}" \
            release deploy
